@import "tailwindcss";

@theme {
  --color-sidebar-item-hover: #02816e;
  --color-custom-teal: #00ba9f;
  --color-custom-gray: #969696;
  --color-green-pagination: #07b49b;
}

@font-face {
  font-family: "Vazir";
  src:
    url("/fonts/vazir/Vazir.woff2") format("woff2"),
    url("/fonts/vazir/Vazir.woff") format("woff"),
    url("/fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .sidebar-bg {
    background-image:
      url("/images/sidebar-bg.svg"),
      linear-gradient(to bottom, #00b5a0, #00c69b);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .sidebar-item.active {
    background-color: red;
    color: white;
  }

  .copy-icon {
    transition: fill 0.3s ease;
  }

  .copy-icon:hover path {
    fill: var(--color-green-pagination);
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Vazir", sans-serif;
}
