@import "tailwindcss";

@theme {
  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1800px;

  /* colors */
  --color-sidebar-item-hover: #02816e;
  --color-custom-teal: #00ba9f;
  --color-custom-gray: #969696;
  --color-green-pagination: #07b49b;
  --color-red-delete: #dc3545;
  --color-red-link: #ff1654;
  --color-blue-upload: #118ad3;
}

@font-face {
  font-family: "Vazir";
  src:
    url("/fonts/vazir/Vazir.woff2") format("woff2"),
    url("/fonts/vazir/Vazir.woff") format("woff"),
    url("/fonts/vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .sidebar-bg {
    background-image:
      url("/images/sidebar-bg.svg"),
      linear-gradient(to bottom, #00b5a0, #00c69b);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .copy-icon {
    transition: fill 0.3s ease;
  }

  .copy-icon:hover path {
    fill: var(--color-green-pagination);
  }

  .delete-icon {
    transition: fill 0.3s ease;
  }

  .bg-sidebar-item-active {
    background-color: var(--color-sidebar-item-hover);
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Vazir", sans-serif;
}

/* Responsiveness */

@media (min-width: 1800px) {
  html {
    font-size: 180%;
  }
}

@media (min-width: 768px) {
  .upload-box {
    border-radius: 25px !important; /* هر چهار گوشه گرد */
  }
}

@media (max-width: 640px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 60%;
  }
}
